{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
<style>
    .container {
        margin-top: 50px;
        text-align: center;
    }

    .login-form {
        max-width: 400px; 
        margin: 0 auto; 
        padding: 20px; 
        border-radius: 10px; 
        border: 4px solid #aaa7a7; 
    }

    .submit {
        margin-top: 5px;
    }

    .input {
        margin-bottom: 5px;
        border: 2px solid #ccc;
    }
</style>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-form">
                    <h2>Please Sign in</h2>
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="input form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="input form-control" id="password" name="password" required>
                        </div>
                        {% if invalid_login %}
                            
                        <div type="hidden" id="invalid" class="form-group">
                            <p class="text-danger">Invalid credentials</p>
                        </div>
                        {% endif %} 
                        <button type="submit" class=" submit btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
